<html><body>
<font size="4"><b>Select branch</b></font><br>
<font size="2">Member {{ m.member_id }} &nbsp; {{ m.name }}</font>
<br><br>
<form method="post" action="/branch">
<input type="hidden" name="mid" value="{{ m.member_id }}">
<table border="0" cellpadding="6" cellspacing="0">
  <tr>
    <td><font size="2">Branch</font></td>
    <td>
      <select name="branch" title="Branch">
        <option value="Main">Main Branch</option>
        <option value="North">North Branch</option>
      </select>
    </td>
  </tr>
  <tr><td colspan="2"><input type="submit" value="Continue"></td></tr>
</table>
</form>
</body></html>
